# Compiled class file
*.class

# Built java file
build/classes/main/com/cliffc/aa/BuildVersion.java

# Package Files #
*.jar
*.zip

# virtual machine crash logs, see http://www.java.com/en/download/help/error_hotspot.xml
hs_err_pid*

# Emacs
#*#
*~
TAGS

# IdeaJ
.idea
